@import './mixin.scss';

@include scrollbar-debounce;

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}

body {
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

i {
  font-style: normal;
}

.wrap-center {
  margin: 0 auto;
  min-width: 960px;
  max-width: 1200px;
}