// 页面滚动条出现时不跳动
@mixin scrollbar-debounce {
  html {
    overflow-y: scroll;
  }
  
  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  :root body {
    position: absolute;
  }
  
  body {
    width: 100vw;
    overflow: hidden;
  }
}

@mixin no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin wrap-center {
  margin: 0 auto;
  min-width: 960px;
  max-width: 1200px;
} 